{% extends 'base.html' %}

<title>{% block title %}Add Page{% endblock %}</title>

  {% block content%}

<!-- <style>
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/premium-photo/garden-background-images-background-copy-space_1179130-702882.jpg?w=360') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} -->
<style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/premium-photo/garden-background-images-background-copy-space_1179130-702882.jpg?w=360') no-repeat center center/cover;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
  </style>

<body>

   <div class="container  mb-5 d-flex ">
  <div class="card p-4" style="background-color: rgba(0,0,0,0.6); color: white; width: 500px; border-radius: 15px;">
    <h2 class="text-center mb-4">Update Your Flora</h2>

    <form action="{% url 'update' data.id%}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
<!--  NAME  -->
      <div class="mb-3">
        <label for="f_name" class="form-label">Flower Name</label>
        <input type="text" class="form-control" id="f_name" name="f_name" placeholder="Enter flower name" value="{{data.f_name}}">
      </div>
<!-- DESCRIPTION -->
      <div class="mb-3">
        <label for="f_description" class="form-label">Description</label>
        <textarea class="form-control" id="f_description" name="f_description" rows="3" placeholder="Enter description">{{data.f_description}}</textarea>
      </div>
<!-- PRICE -->
      <div class="mb-3">
        <label for="f_price" class="form-label">Price</label>
        <input type="number" step="0.01" class="form-control" id="f_price" name="f_price" placeholder="Enter price" value="{{data.f_price}}">
      </div>
<!-- CATEGORY -->
      <div class="mb-3">
        <label for="f_category" class="form-label">Category</label>
        <select class="form-select" id="f_category" name="f_category">
          <option selected>{{data.f_category}}</option>
          <option value="Flowering Plant">Flowering Plant</option>
          <option value="Festive">Festive</option>
          <option value="Medicinal">Medicinal</option>
          <option value="Ornamental">Ornamental</option>
          <option value="Decorative">Decorative</option>
          <option value="Seasonal">Seasonal</option>
          <option value="Gratitude">Gratitude</option>
          <option value="Expressing">Expressing</option>
          <option value="Wild">Wild</option>

      </div>
<!-- SCIENTIFIC-NAME -->
      <div class="mb-3">
        <label for="f_scientific_name" class="form-label">Scientific Name</label>
        <input type="text" class="form-control" id="f_scientific_name" name="f_scientific_name" placeholder="Enter scientific name" value="{{data.f_scientific_name}}">
      </div>
<!-- COLOR -->
      <div class="mb-3">
        <label for="f_color" class="form-label">Color</label>
        <input type="text" class="form-control" id="f_color" name="f_color" placeholder="Enter color" value="{{data.f_color}}">
      </div>
<!-- IMAGE -->
      <div class="mb-3">
        <label for="f_image" class="form-label">Upload Image</label>
        <input type="file" class="form-control" id="f_image" name="f_image" value="{{data.f_image}}">
      </div>
<!-- BUTTON -->
      <button type="submit" class="btn btn-success w-100">✒️ Update Flower</button>

    </form>
  </div>
</div>

  
  {% endblock%}