{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Home{% endblock %}</title>

{% block content%}

<link rel="stylesheet" href="{% static 'flora/css/home.css' %}">

<div class="hero-section">
  <div class="hero-content">
    <h1>GardonLog 🌱</h1>
    <p>Celebrate life’s moments with meaningful gifts — flowers and plants that bloom just like the emotions behind them .</p>
    <a class="btn btn-primary" href="{% url 'login' %}">Start Your Journey</a>
  </div>
</div>
{% endblock %}
